*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #f1f34;
    font-family: sans-serif;
}
.top-nav-bar
{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid #6fbcff;
    z-index: 2;
}
.logo
{
    height: 40px;
    margin: 5px 10px;
}
.form-control
{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #6fbcff !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    
}
.input-group-text
{
    background: #6fbcff !important;
    border: 1px solid #6fbcff !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box
{
    display: inline-flex;
    width: 60%
}
.fa-search
{
    color: white;
}
.menu-bar
{
    widows: 40%;
    height: 57px;
    float: right;
}
.menu-bar ul
{
    display: inline-flex;
    float: right;
}
.menu-bar ul li
{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: #6fbcff;
    cursor: pointer;
}
.menu-bar ul li a
{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.fa-shopping-basket
{
    margin-right: 5px;
}
@media only screen and (max-width: 980px)
{
    .top-nav-bar
    {
        height: 118px;
        border-bottom: 0;
    }
    .search-box
    {
        width: 100%;
    }
    .menu-bar
    {
        width: 100%;
    }
    .menu-bar ul
    {
        margin: 10px 0;   
        width: 100%;
    }
    .menu-bar ul li
    {
        height: 57px;
        width: 100%;
    }
}




.side-menu
{
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: cyan;
}
.side-menu ul
{
    margin-left: 10px;
}
.side-menu ul li
{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover
{
    color: cornflowerblue;
}
.side-menu ul li ul
{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul
{
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-chevron-right
{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}
#menu-btn,#close-btn
{
    font-size: 30px;
    margin: 10px;
    color: #6fbcff;
    display: none;
}
@media only screen and (max-width: 980px)
{
    .side-menu
    {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        display: none;
    }
    .side-menu ul li ul
    {
        top: 133px;
    }
    .side-menu ul li:hover ul
    {
        margin-left: 31%;
    }
    #menu-btn
    {
        display: block;
    }
}


.slider
{
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
}



.featured
{
    margin: 50px 0;
}
.featured img
{
    height: 75%;
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured img:hover
{
    transform: scale(1.1);
}


.title-box
{
    background: #6fbcff;
    color: #fff;
    width: 220px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box
{
    font-size: 24px;
}
.title-box::after
{
    content: '';
    border-top: 40px solid #6fbcff;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 210px;
}


.footer
{
    margin-top: 50px;
    background: #0b2952;
    color: #fff;
}
.footer h1
{
    font-size: 15px;
    margin: 25px 0;
}
.footer p
{
    font-size: 12px;
}




.sproduct
{
    margin-top: 70px;
}
.col-md-7 h2
{
    color: #555;
}
.sproduct .fa
{
    color: cyan;
}
.sproduct .price
{
    color: cyan;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.sproduct input
{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.sproduct btn-primary
{
    background: cyan !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}





.pdesc h6
{
    margin-top: 50px;
    color: blueviolet;
}
.pdesc p
{
    margin-top: 30px;
}
.pdesc hr
{
    margin-bottom: 20px;
}



.col-md-3 img
{
    height: 75%;
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
